*{box-sizing: border-box;
margin: 0;
padding: 0;}

body{
    font-family:Arial, Helvetica, sans-serif;
    width: 100%;
}

/*Header*/

/*header superior*/

header{
    width: 100%;
    height: 95vh;
    color: white;
    background-image: url(../img/general/_MG_1799.JPG);
    background-position: center;
	background-attachment: contain;
	background-size: cover;
    position: relative;
    border-bottom: black 1px solid;
}
header:before {
	content:'';
	position: absolute;
        top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
}
.header-superior{
    width: 100%;
    height: 11%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 2px 2px 5px black;
    overflow: hidden;
    position: relative;
}
.header-superior .logo {
    width: 8%;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: white;
}
.img-logo{
    margin-left: 4%;
    border: white;
    border-radius: 100%;
}
.img-logo img{
    width: 40%;
    height: 40%;
    border-radius: 100%;
    margin-left: 30%;
}
.header-superior nav{
    width: 92%;
}
.header-superior nav ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    height: 100%;
    align-items: center;
}
.header-superior nav ul li{
    margin-left: 3%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-superior nav ul li a{
    color: white;
    text-decoration: none;
    text-align: center;
}
.header-superior nav ul li a:hover{
    text-decoration: underline;
    text-shadow: 3px 3px 6px black;
}
.iconos-nav-header li{
    display: flex;
    justify-content: space-around;
}
.header-superior nav ul li{
    width: 22%;
}
ul li .iconos-nav-header {
   width: 100%;
   margin-left: 10%px;
}

.fa-whatsapp{
    background-color: rgb(65, 235, 107);
    border-radius: 100px;
    overflow: hidden;
}
.fa-instagram{
    background-color: crimson;
    border-radius: 30px;
    overflow: hidden;
}
.fa-facebook{
    color: rgb(5, 53, 184);
    background-color: white;
    border-radius: 50px;
    overflow: hidden;
}
.fa-envelope{
    border-radius: 2px;
    overflow: hidden;
}
/*header inferior*/

.header-inferior{
    width: 100%;
    height: 88%;
    display: flex;
    justify-content: center;
}
.contenedor-frases{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-shadow: 2px 2px 5px black;
    color: white;
    position: relative;
}
.contenedor-frases h1{
    font-size: 50px;
    margin: 3% 0px;
}
.contenedor-frases h2{
    font-size: 30px;
    margin: 0px;
    padding: 0px;
}
.contenedor-frases h3{
    font-size: 35px ;
    margin: 0px;
    padding: 0px;
}

/*Actividades*/

.section-actividades{
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    border-top: black 1px solid;
}
.titulo{
    width: 100%;
    height:10vh ;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor-actividades{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.tarjeta-actividad{
    width: 25%;
    height: 80%;
    background-color: rgba(128, 128, 128, 0.322);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2%;
    box-shadow: 2px 2px 5px black;
}
.img{
    border-radius: 100%;
    margin: 6%;
    width: 30%;
    height: 30%;
}
.img img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.tarjeta-actividad p{
    width: 80%;
    text-align: center;
    margin: 0px;
}
.tarjeta-actividad h3{
    margin: 2%;
    margin-bottom: 7%;
}
.tarjeta-actividad a{
    margin:2%;
    margin-top: 7%;
}
.tarjeta-actividad a:hover{
    color: darkcyan;
}

/*seccion registrate y forma parte*/
.section-registrate-forma-parte{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: black 1px solid;
    background-image: url(../img/general/\(18\).jpg);
    background-position: center;
	background-attachment: contain;
	background-size: cover;
    position: relative;
}

.section-registrate-forma-parte:before {
	content:'';
	position: absolute;
        top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.3);
}
.contenedor-frase-boton{
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.contenedor-frase-boton h2{
    margin: 2%;
    font-size: 42px;
    color: white;
    text-shadow: 2px 2px 5px black;
}
.contenedor-frase-boton a{
    margin: 2%;
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 5px black;
}
.contenedor-frase-boton a:hover{
    color:yellow;
}

/*Section contacto*/
.section-contacto{
    width: 100%;
    height: 80vh;
    border-top: black 1px solid;
}
.contacto-inferior{
    width: 100%;
    height: 80%;
    display: flex;
}
.direccion{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parrafos{
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 23px;
}
.parrafos p{
    width: 80%;
    text-align: center;
}
.contacto{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor-formulario{
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contenedor-formulario form{
    width: 100%;
    height: 100%;
}
.nombre-telefono{
    display: flex;
    height: 15%;
    width: 100%;
}
.nombre , .telefono{
    width: 50%;
    display: flex;
    align-items: center;
}
.telefono{
    flex-direction: row-reverse;
}
.nombre input, .telefono input{
    width: 95%;
    height: 80%;
    font-size: 20px;
}
.mail{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
}
.mail input{
    width: 100%;
    height: 80%;
    font-size: 20px;
}
.mensaje{
    width: 100%;
    height: 50%;
}
.mensaje textarea{
    width: 100%;
    height: 100%;
    font-size: 20px;
}
.boton-enviar{
    width: 100%;
    height: 10%;
    margin: 2% 0px;
    border-radius: 4px;
    overflow: hidden;
}
.boton-enviar input{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    font-size: 20px;
    border-radius: 4px;
}
.boton-enviar input:hover{
    text-shadow: 2px 2px 5px black;
    background-color: rgba(158, 6, 6, 0.9);
}

/*Section mapa*/
.google-map{
    width: 100%;
    height: 80vh;
    border-top: black 1px solid;
    background-image: url(../img/general/ubicacion.jpg);
    background-position: center;
	background-attachment: contain;
	background-size: cover;
}

/*Footer*/
footer{
    border-top: black 1px solid;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.95);
    color: white;
}
.footer-izquierdo{
    width: 40%;
    height: 100%;
}
.footer-derecho{
    width: 40%;
    height: 100%;
}
.contenedor-parrafos-izquierdo{
    margin-top: 10%;
    margin-left: 10%;
    height: 40%;
}
.contenedor-parrafos-izquierdo h2{
    font-size: 26px;
}

.contenedor-parrafos-derecho{
    height: 40%;
    margin-top: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.nav nav ul li a{
    color: white;
    text-decoration: none;
    margin-bottom: 2%;
}
.nav nav ul li a:hover{
    text-decoration: underline;
    color: yellow;
    text-shadow: 2px 2px 5px black;
}
.nav nav ul li {
    margin-bottom: 3.5%;
}
.iconos-footer{
    width: 50%;
    margin-top: 2%;
    margin-right: 10%;
}
.contenedor-iconos{
    display: flex;
    justify-content: space-around;
}

.contenedor-iconos a .fa-whatsapp{
    color: white
}
.contenedor-iconos a .fa-instagram{
    color: white
}
.contenedor-iconos a .fa-envelope{
    color: white
}

/*excursiones*/

.excursiones{
    width: 100%;
    height: 100%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.excursion-1{
    width: 80%;
    height: 80%;
    background-color: rgba(165, 3, 3, 0.95);
    color: white;
    border: black 2px solid;
    margin-bottom: 5%;
    border-radius: 15px;
    box-shadow: 2px 2px 5px black;
}
.excursion-2{
    width: 80%;
    height: 80%;
     border: black 2px solid;
     border-radius: 15px;
     margin-bottom:5%;
     background-color: rgb(179, 176, 176);
     box-shadow: 2px 2px 5px black;
}
.contenedor-sub-titulo{
    display: flex;
    justify-content: center;
}
.sub-titulo{
    text-decoration: underline;
    width: 100%;
    display: flex;
    justify-content: center;
}
.sub-titulo h2{
    margin: 2%;
}
.contenedor-img-info{
    display: flex;
    height: 100%;
    margin-top: 2%;
    width: 100%;
}
.negrita{
    font-weight: 900;
    font-size: 18px;
}
span{
    margin-bottom: 5%;
}
.contenedor-img-info .foto-excursion{
    width: 30%;
    margin: 1%;
    height: 250px;
    border: black 1px solid;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 2px 2px 5px black;
}
.info-excursion{
    width: 70%;
    height: 200%;
    margin: 1%;
}
.contenedor-img-info .foto-excursion img{
    width: 100%;
    height: 100%;
}

/*Quienes somos*/
.quienes-somos{
    width: 100%;
    height: 150vh;
}
.contenedor-quienes-somos{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    margin-top: 3%;
}
.contenido-quienes-somos{
    width: 70%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.contenido-quienes-somos p{
    margin-top: 2%;
    font-weight: 530;
}
.imagen-quienes-somos{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
}
.contenedor-img-quienes-somos{
    width: 60%;
    height: 100%;
    box-shadow: 2px 2px 5px black;
    border: black 1px solid;
    border-radius: 3px;
    overflow: hidden;
}
.contenedor-img-quienes-somos img{
    width: 100%;
    height: 100%;
}
/*Actividades que ofrecemos*/
.section-actividades-vista{
    width: 100%;
    height: 150vh;
    margin-bottom:7% ;
}
.contenedor-actividades-vista{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 3%;
}
.tarjeta-actividad-vista{
    width: 34%;
    height: 45%;
    background-color: rgba(128, 128, 128, 0.322);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2%;
    box-shadow: 2px 2px 5px black;
}
.tarjeta-actividad-vista p{
    width: 80%;
    text-align: center;
    margin: 0px;
}
.tarjeta-actividad-vista h3{
    margin: 2%;
    margin-bottom: 7%;
}
.tarjeta-actividad-vista a{
    margin:2%;
    margin-top: 7%;
}
.tarjeta-actividad-vista a:hover{
    color: darkcyan;
}

/*Vista Escuelita*/
.section-escuelita-vista{
    width: 100%;
    height: 100vh;
}
.contenedor-escuelita-vista{
    width: 100%;
    height: 80%;
    margin-top: 3%;
    display: flex;
}
.contenedor-img-escuelita-vista{
    width: 35%;
    height: 60%;
    margin: 1%;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 2px 2px 5px black;
}
.img-escuelita-vista{
    width: 100%;
    height: 100%;
}
.img-escuelita-vista img{
    width: 100%;
    height: 100%;
}
.contenedor-info-escuelita-vista{
    width: 65%;
    height: 60%;
    margin: 1%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.info-escuelita-vista{
    width: 95%;
    height: 100%;
}
.info-escuelita-vista p{
    margin-bottom: 2%;
}

/*Vista coaching*/
.section-coaching-vista{
    width: 100%;
    height: 100vh;
}
.contenedor-coaching-vista{
    width: 100%;
    height: 80%;
    margin-top: 3%;
    display: flex;
}
.contenedor-img-coaching-vista{
    width: 35%;
    height: 60%;
    margin: 1%;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 2px 2px 5px black;
}
.img-coaching-vista{
    width: 100%;
    height: 100%;
}
.img-coaching-vista img{
    width: 100%;
    height: 100%;
}
.contenedor-info-coaching-vista{
    width: 65%;
    height: 60%;
    margin: 1%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.info-coaching-vista{
    width: 95%;
    height: 100%;
}
.info-coaching-vista p{
    margin-bottom: 2%;
}

/*Vista alquiler*/
.section-alquiler-vista{
    width: 100%;
    height: 100vh;
}
.contenedor-alquiler-vista{
    width: 100%;
    height: 80%;
    margin-top: 3%;
    display: flex;
}
.contenedor-img-alquiler-vista{
    width: 35%;
    height: 60%;
    margin: 1%;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 2px 2px 5px black;
}
.img-alquiler-vista{
    width: 100%;
    height: 100%;
}
.img-alquiler-vista img{
    width: 100%;
    height: 100%;
}
.contenedor-info-alquiler-vista{
    width: 65%;
    height: 60%;
    margin: 1%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.info-alquiler-vista{
    width: 95%;
    height: 100%;
}
.info-alquiler-vista p{
    margin-bottom: 2%;
}
/*Formulario Registro*/
.section-formulario-registro{
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/general/\(7\).jpg);
    background-position: center;
	background-attachment: contain;
	background-size: cover;
    position: relative;
}
.contenedor-formulario-registro{
    width: 40%;
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    overflow: hidden;
}
.titulo-formulario-registro{
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
}
.frase-superior-formulario-registro{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.frase-superior-formulario-registro a{
    color: white;
    margin-left: 1%;
}
.frase-superior-formulario-registro a:hover{
    color: yellow;
}

.formulario-registro{
    width: 100%;
    height: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 2%;
}
.formulario-registro form{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formulario-registro form div{
    width: 80%;
    height: 12%;
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}
.formulario-registro form div label{
    width: 24%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}
.formulario-registro form div input{
    width: 76%;
    height: 80%;
    border-radius: 5px;
}
.boton-create input{
    margin-top: 7%;
    border-radius: 5px;
}
.boton-create input:hover{
    box-shadow: 3px 3px 6px black;
    border: black;
    background-color: rgb(216, 215, 215);
}
.formulario-register-error{
    font-size: 8px;
}
/*Listado de usuarios*/

.section-listado-usuarios{
    width: 100%;
    height: 100%;
}
.contenedor-tarjeta-usuario{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.tarjeta-usuario{
    width: 40%;
    height: 20vh;
    margin: 1%;
    display: flex;
    border: black 1px solid;
    border-radius: 15px;
    background-color: rgb(1, 70, 116);
    color: white;
    overflow: hidden;
}
.conenedor-foto-usuario{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(187, 185, 185);
    border-right: 1px solid black;
}
.foto-usuario{
    width: 90%;
    height: 90%;
    border-radius: 100%;
    overflow: hidden;
    border: black 1px solid;
}
.foto-usuario img{
    width: 100%;
    height: 100%;
    border-radius: 100px;
}
.info-tarjeta{
    width: 100%;
    height: 100%;
}
.nombre-usuario, .contenedor-datos-usuario, .contenedor-enlaces-usuario{
    margin-left: 2%;
    width: 97%;
}
.nombre-usuario{
    display: flex;
    justify-content: center;
}
.enlaces-usuario{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}
.boton-borrar{
    border-radius: 15%;
    overflow: hidden;
}
.boton-borrar:hover{
    background-color: rgb(194, 192, 192);
    box-shadow: 2px 2px 5px black;
}
/*Formulario edicion*/

.section-formulario-edicion{
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/general/\(7\).jpg);
    background-position: center;
	background-attachment: contain;
	background-size: cover;
    position: relative;
}
.contenedor-formulario-edicion{
    width: 50%;
    height: 95%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    overflow: hidden;
}
.titulo-formulario-edicion{
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
}
.frase-superior-formulario-edicion{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.frase-superior-formulario-edicion a{
    color: white;
    margin-left: 1%;
}
.frase-superior-formulario-edicion a:hover{
    color: yellow;
}

.formulario-edicion{
    width: 100%;
    height: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 2%;
}
.formulario-edicion form{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formulario-edicion form div{
    width: 80%;
    height: 12%;
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}
.formulario-edicion form div label{
    width: 30%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}
.formulario-edicion form div input{
    width: 70%;
    height: 80%;
    border-radius: 5px;
}
.boton-create input{
    margin-top: 7%;
    border-radius: 5px;
}
.boton-create input:hover{
    box-shadow: 3px 3px 6px black;
    border: black;
    background-color: rgb(216, 215, 215);
}
.formulario-register-error{
    font-size: 8px;
}
/*Formulario de login*/

.formulario-login{
    width: 100%;
    height: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 2%;
}
.formulario-login form{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formulario-login form div{
    width: 80%;
    height: 12%;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}
.formulario-login form div label{
    width: 24%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}
.formulario-login form div input{
    width: 76%;
    height: 80%;
    border-radius: 5px;
}