<footer>
    <div class="footer-izquierdo">
        <div class="contenedor-parrafos-izquierdo">
            <h2>TKC</h2>
            <p>Copyright 2021- todos los derechos reservados</p>
            <p>Desarrollado por Joaquin Fuentes</p>
        </div>
    </div>
    <div class="footer-derecho">
        <div class="contenedor-parrafos-derecho">
            <div class="nav">
                <nav>
                    <ul type= "none">
                        <li><a href="/">PÁGINA DE INICIO</a></li>
                        <li><a href="/actividades">¿QUÉ ACTIVIDADES OFRECEMOS?</a></li>
                        <li><a href="/contact">CONTACTO</a></li>
                        <li><a href="/quienes-somos">¿QUIÉNES SÓMOS?</a></li>
                    </ul>
                </nav>
            </div>
            <div class="iconos-footer">
                <div class="contenedor-iconos">
                    <a href="http://wa.me/543816097754"><i class="fab fa-whatsapp"></i></a></li>
                    <a href="https://www.instagram.com/tucumankayakclub/"><i class="fab fa-instagram"></i></a></li>
                    <a href="https://www.facebook.com/tkcturismoaventura"><i class="fab fa-facebook"></i></a></li>
                    <a href="mailto:joaquin_eas@hotmail.com"><i class="far fa-envelope"></i></a></li>
                </div>
            </div>
        </div>
    </div>
</footer>