<div class="header-superior">
    <div class="logo">
        <div class="img-logo">
            <img src="../../../img/general/logotkcrojo.jpg" alt="logo">
        </div>
    </div>
    <nav>
        <ul>
            <li><a href="/">Página principal </a></li>
            <li><a href="/users">Usuarios </a></li>
            <li><a href="/users/create">Registrate </a></li>
            <li><a href="/users/login">Ingresá </a></li>
            <li><a href="/contact">Contacto </a></li>
            <li><a href="/quienes-somos">¿Quiénes sómos? </a></li>
            <li><a href="/actividades">¿Qué actividades realizamos? </a></li>
            <li> <ul class="iconos-nav-header">
                <li><a href=""><i class="fab fa-whatsapp"></i></a></li>
                <li><a href="https://www.instagram.com/tucumankayakclub/"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://www.facebook.com/tkcturismoaventura/"><i class="fab fa-facebook"></i></a></li>
                <li><a href=""><i class="far fa-envelope"></i></a></li>
                 </ul></li>
        </ul>
    </nav>
</div>