<div class="header-superior">
    <div class="header-user">
        <div class="img-header-logo">
            <img src="../../../img/general/logotkcrojo.jpg" alt="logo">
        </div>
        <% if (locals.user) { %>
            <div class="img-header-user">
              <img class="user-img" src="../../../img/users/<%= user.image ? user.image : 'default.jpg' %>" alt="">
            </div>
            <a href="/users/<%= user.id %>"><%= user.nombre %></a>
            <a href="/users/logout">Salir</a>
        <% } else  { %> 
            <a href="/users/login">Ingresar</a>
        <% } %>
    </div>
    <nav>
        <ul>
            <li><a href="/">Página principal </a></li>
            <li><a href="/contact">Contacto </a></li>
            <li><a href="/quienes-somos">¿Quiénes sómos? </a></li>
            <li> <ul class="iconos-nav-header">
                <li><a href="http://wa.me/543816097754"><i class="fab fa-whatsapp"></i></a></li>
                <li><a href="https://www.instagram.com/tucumankayakclub/"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://www.facebook.com/tkcturismoaventura/"><i class="fab fa-facebook"></i></a></li>
                <li><a href=""><i class="far fa-envelope"></i></a></li>
                 </ul></li>
        </ul>
    </nav>
</div>