
    <header>
       
        <div class="header-inferior">
            <div class="contenedor-frases">
                <h3 class="animadoHeaderDerecha">Viví El Cadillal</h3>
                <h1 class="animadoHeaderIzquierda">TUCUMAN KAYAK CLUB</h1>
                <h2 class="animadoHeaderDerecha">Turismo Aventura</h2>
            </div>
        </div>
    </header>