<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../css/styless.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link  rel="icon"   href="../../../img/general/logotkcrojo.jpg" type="image/jpg" />
    <title>Actividades que ofrecemos</title>
</head>
<body>
  
    <%- include ("../partials/header-superior.ejs") %>

    <section class="section-actividades-vista">
        <div class="titulo">
            <h2>Actividades que ofrecemos</h2>
        </div>
        <div class="contenedor-actividades-vista">
            <div class="tarjeta-actividad-vista">
                <div class="img"><img src="../../../img/general/_MG_9965.jpg" alt=""> </div>
                <h3>Alquiler de kayaks</h3>
                <p>De Martes a Domingo podes encontrarnos en la zona de playa para alquilar tu kayak y pasar una hermosa tarde! No te olvides de traer ropa para la aventura!</p>
                <a href="/alquiler">Ver más</a>
            </div>
            <div class="tarjeta-actividad-vista">
                <div class="img"><img src="../../../img/general/14.jpg" alt=""> </div>
                <h3>Excursiones</h3>
                <p>Animate a disfrutar del Cadillal con nuestras excursiones!</p>
                
                <a href="/excursiones">Ver más</a>
            </div>
            <div class="tarjeta-actividad-vista">
                <div class="img"> <img src="../../../img/general/_MG_1799.JPG" alt=" imagen"></div>
                <h3>Escuelita de kayaks</h3>
                <p>Contamos con una escuelita de kayaks para niños, y tambien para adultos.</p>
                <p>Podes aprender a remar, a realizar rescates con kayak, y tambien podrás compartir con amigos de esta hermosa actividad!</p>
                <a href="/escuelita">Ver más</a>
            </div>
            <div class="tarjeta-actividad-vista">
                <div class="img"><img src="../../../img/general/_MG_9965.jpg" alt=""> </div>
                <h3>Coaching</h3>
                <p>Realizamos trabajos de coaching empresarial y tambien manejamos equipos deportivos y grupos escolares</p>
                <a href="/coaching">Ver más</a>
            </div>
        </div>
    </section>
    

    
    <%- include ("../partials/footer.ejs") %>
</body>
</html>