<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../css/styless.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link  rel="icon"   href="../../../img/general/logotkcrojo.jpg" type="image/jpg" />
    <title>Alquiler de kayaks</title>
</head>
<body>
  
    <%- include ("../partials/header-superior.ejs") %>


    <section class="section-alquiler-vista">
        <div class="titulo">
            <h1>Alquiler</h1>
        </div>
        <div class="contenedor-alquiler-vista">
            <div class="contenedor-img-alquiler-vista">
                <div class="img-alquiler-vista">
                    <img src="../../../img/general/_MG_1752.jpg" alt="">
                </div>
            </div>
            <div class="contenedor-info-alquiler-vista">
                <div class="info-alquiler-vista">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima suscipit temporibus esse, atque vel magnam sint quo aut voluptatibus id amet cum itaque, officia enim ipsa. Adipisci sunt sint saepe.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima suscipit temporibus esse, atque vel magnam sint quo aut voluptatibus id amet cum itaque, officia enim ipsa. Adipisci sunt sint saepe.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima suscipit temporibus esse, atque vel magnam sint quo aut voluptatibus id amet cum itaque, officia enim ipsa. Adipisci sunt sint saepe.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima suscipit temporibus esse, atque vel magnam sint quo aut voluptatibus id amet cum itaque, officia enim ipsa. Adipisci sunt sint saepe.</p>
                </div>
            </div>
        </div>
    
    </section>

    
    
    <%- include ("../partials/footer.ejs") %>
</body>
</html>