<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../css/styless.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link  rel="icon"   href="../../../img/general/logotkcrojo.jpg" type="image/jpg" />
    <title>Escuelita de kayaks</title>
</head>
<body>
  
    <%- include ("../partials/header-superior.ejs") %>

<section class="section-escuelita-vista">
    <div class="titulo animadoFijo">
        <h1>Escuelita de Kayaks</h1>
    </div>
    <div class="contenedor-escuelita-vista animadoFijo">
        <div class="contenedor-img-escuelita-vista">
            <div class="img-escuelita-vista">
                <img src="../../../img/general/_MG_9941.jpg" alt="">
            </div>
        </div>
        <div class="contenedor-info-escuelita-vista">
            <div class="info-escuelita-vista">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima suscipit temporibus esse, atque vel magnam sint quo aut voluptatibus id amet cum itaque, officia enim ipsa. Adipisci sunt sint saepe.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima suscipit temporibus esse, atque vel magnam sint quo aut voluptatibus id amet cum itaque, officia enim ipsa. Adipisci sunt sint saepe.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima suscipit temporibus esse, atque vel magnam sint quo aut voluptatibus id amet cum itaque, officia enim ipsa. Adipisci sunt sint saepe.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima suscipit temporibus esse, atque vel magnam sint quo aut voluptatibus id amet cum itaque, officia enim ipsa. Adipisci sunt sint saepe.</p>
            </div>
        </div>
    </div>

</section>

    
    
    <%- include ("../partials/footer.ejs") %>
</body>
</html>