<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../css/styless.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link  rel="icon"   href="../../../img/general/logotkcrojo.jpg" type="image/jpg" />
    <title>Excursiones TKC</title>
</head>
<body>
    

  
    <%- include ("../partials/header-superior.ejs") %>

<div class="titulo animadoFijo"> 
    <h1>Excursiones</h1>
</div>

<section class="excursiones">
    <section class="excursion-1 animadoFijo">
        <div class="contenedor-sub-titulo">
            <div class="sub-titulo">
                <h2>Kayak en el Río Loro</h2>
            </div>
        </div>
        <div class="contenedor-img-info">
         <div class="foto-excursion">
            <img src="../../../img/general/kayakrio.jpg" alt="">
         </div>
        <div class="info-excursion">
            <div class="contenedor-info-excursion">
                <span class="negrita">Horario de salida:</span><span> 09:00 o 14:00 hs.</span><br>
                <span class="negrita">Descripción: </span><span>Nos encontramos en el Cadillal donde se encuentra el río Loro, ideal
                    para iniciarse en este deporte. El río cuenta con una serie de rápidos clase 1 que nos
                    ofrecerán adrenalina, pero al mismo tiempo, seguridad. Comenzaremos con un minicurso instructivo a orillas del río para luego hacer un descenso de aproximadamente 1
                    y ½ hs. </span><br>
                <span class="negrita">Incluye:</span><span> Guía, mini-curso instructivo, snack y todo el equipo necesario.</span><br>
                <span class="negrita">Recorrido:</span><span> 5 km. en el río.</span><br>
                <span class="negrita">Duración total:</span><span>4 hs</span><br>
                <span class="negrita">Precio:</span><span> $1.700.-</span>
            </div>

        </div>
    </div>
    </section>
    <section class="excursion-2 animado">
        <div class="contenedor-sub-titulo">
            <div class="sub-titulo">
                <h2>Kayak en el Dique</h2>
            </div>
        </div>
        <div class="contenedor-img-info">
        <div class="info-excursion">
            <div class="contenedor-info-excursion">
                <span class="negrita">Horario de salida:</span><span> 09:00 o 14:00 hs.</span><br>
                <span class="negrita">Descripción: </span><span>Nos encontramos en el Cadillal donde se encuentra el río Loro, ideal
                    para iniciarse en este deporte. El río cuenta con una serie de rápidos clase 1 que nos
                    ofrecerán adrenalina, pero al mismo tiempo, seguridad. Comenzaremos con un minicurso instructivo a orillas del río para luego hacer un descenso de aproximadamente 1
                    y ½ hs. </span><br>
                <span class="negrita">Incluye:</span><span> Guía, mini-curso instructivo, snack y todo el equipo necesario.</span><br>
                <span class="negrita">Recorrido:</span><span> 5 km. en el río.</span><br>
                <span class="negrita">Duración total:</span><span>4 hs</span><br>
                <span class="negrita">Precio:</span><span> $1.700.-</span>
            </div>
        </div>
        <div class="foto-excursion">
            <img src="../../../img/general/(17).jpg" alt="">
        </div>
        </div>
        
    </section>
    <section class="excursion-1 animado">
        <div class="contenedor-sub-titulo">
            <div class="sub-titulo">
                <h2>Kayak en el Dique + Rappel</h2>
            </div>
        </div>
         <div class="contenedor-img-info">
        <div class="foto-excursion">
            <img src="../../../img/general/(10).jpg" alt="">
        </div>
        <div class="info-excursion">
            <div class="contenedor-info-excursion">
                <span class="negrita">Horario de salida:</span><span> 09:00 o 14:00 hs.</span><br>
                <span class="negrita">Descripción: </span><span>Nos encontramos en el Cadillal donde se encuentra el río Loro, ideal
                    para iniciarse en este deporte. El río cuenta con una serie de rápidos clase 1 que nos
                    ofrecerán adrenalina, pero al mismo tiempo, seguridad. Comenzaremos con un minicurso instructivo a orillas del río para luego hacer un descenso de aproximadamente 1
                    y ½ hs. </span><br>
                <span class="negrita">Incluye:</span><span> Guía, mini-curso instructivo, snack y todo el equipo necesario.</span><br>
                <span class="negrita">Recorrido:</span><span> 5 km. en el río.</span><br>
                <span class="negrita">Duración total:</span><span>4 hs</span><br>
                <span class="negrita">Precio:</span><span> $1.700.-</span>
            </div>

        </div>
    </div>
        
    </section>
    <section class="excursion-2 animado">
        <div class="contenedor-sub-titulo">
            <div class="sub-titulo">
                <h2>Canyoning en la Reserva Aguas Chiquitas</h2>
            </div>
        </div>
         <div class="contenedor-img-info">
        <div class="info-excursion">
            <div class="contenedor-info-excursion">
                <span class="negrita">Horario de salida:</span><span> 09:00 o 14:00 hs.</span><br>
                <span class="negrita">Descripción: </span><span>Nos encontramos en el Cadillal donde se encuentra el río Loro, ideal
                    para iniciarse en este deporte. El río cuenta con una serie de rápidos clase 1 que nos
                    ofrecerán adrenalina, pero al mismo tiempo, seguridad. Comenzaremos con un minicurso instructivo a orillas del río para luego hacer un descenso de aproximadamente 1
                    y ½ hs. </span><br>
                <span class="negrita">Incluye:</span><span> Guía, mini-curso instructivo, snack y todo el equipo necesario.</span><br>
                <span class="negrita">Recorrido:</span><span> 5 km. en el río.</span><br>
                <span class="negrita">Duración total:</span><span>4 hs</span><br>
                <span class="negrita">Precio:</span><span> $1.700.-</span>
            </div>
        </div>
        <div class="foto-excursion">
            <img src="../../../img/general/Copia de P1070156.JPG" alt="">
        </div>
    </div>
        
    </section>
    <section class="excursion-1 animado">
        <div class="contenedor-sub-titulo">
            <div class="sub-titulo">
                <h2>Canyoning Aguas Chiquitas + Rappel</h2>
            </div>
        </div>
         <div class="contenedor-img-info">
        <div class="foto-excursion">
            <img src="../../../img/general/19.jpg" alt="">
        </div>
        <div class="info-excursion">
            <div class="contenedor-info-excursion">
                <span class="negrita">Horario de salida:</span><span> 09:00 o 14:00 hs.</span><br>
                <span class="negrita">Descripción: </span><span>Nos encontramos en el Cadillal donde se encuentra el río Loro, ideal
                    para iniciarse en este deporte. El río cuenta con una serie de rápidos clase 1 que nos
                    ofrecerán adrenalina, pero al mismo tiempo, seguridad. Comenzaremos con un minicurso instructivo a orillas del río para luego hacer un descenso de aproximadamente 1
                    y ½ hs. </span><br>
                <span class="negrita">Incluye:</span><span> Guía, mini-curso instructivo, snack y todo el equipo necesario.</span><br>
                <span class="negrita">Recorrido:</span><span> 5 km. en el río.</span><br>
                <span class="negrita">Duración total:</span><span>4 hs</span><br>
                <span class="negrita">Precio:</span><span> $1.700.-</span>
            </div>

        </div>
    </div>
        
    </section>
    <section class="excursion-2 animado">
        <div class="contenedor-sub-titulo">
            <div class="sub-titulo">
                <h2>Rappel aéreo en el Viaducto El Saladillo</h2>
            </div>
        </div>
         <div class="contenedor-img-info">
        <div class="info-excursion">
            <div class="contenedor-info-excursion">
                <span class="negrita">Horario de salida:</span><span> 09:00 o 14:00 hs.</span><br>
                <span class="negrita">Descripción: </span><span>Nos encontramos en el Cadillal donde se encuentra el río Loro, ideal
                    para iniciarse en este deporte. El río cuenta con una serie de rápidos clase 1 que nos
                    ofrecerán adrenalina, pero al mismo tiempo, seguridad. Comenzaremos con un minicurso instructivo a orillas del río para luego hacer un descenso de aproximadamente 1
                    y ½ hs. </span><br>
                <span class="negrita">Incluye:</span><span> Guía, mini-curso instructivo, snack y todo el equipo necesario.</span><br>
                <span class="negrita">Recorrido:</span><span> 5 km. en el río.</span><br>
                <span class="negrita">Duración total:</span><span>4 hs</span><br>
                <span class="negrita">Precio:</span><span> $1.700.-</span>
            </div>
        </div>
        <div class="foto-excursion">
            <img src="../../../img/general/(16).jpg" alt="">
        </div>
    </div>
    
    </section>
</section>


    <%- include ("../partials/footer.ejs") %>
</body>
</html>