<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../css/styless.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link  rel="icon"   href="../../../img/general/logotkcrojo.jpg" type="image/jpg" />
    <title>Quienes somos</title>
</head>
<body>
  
    <%- include ("../partials/header-superior.ejs") %>


<section class="quienes-somos">
    <div class="titulo">
        <h1>¿Quiénes sómos?</h1>
    </div>
    <div class="contenedor-quienes-somos">
        <div class="contenido-quienes-somos">
        <p>Tucumán Kayak Club es una empresa con más de 15 años de experiencia en lo que respecta al
            Turismo Activo y los deportes alternativos. </p>
        <p>Los que hacemos TKC contamos con los conocimientos necesarios para hacer que sus vivencias
                resulten ser experiencias 100% seguras y muy divertidas. A lo largo de los años hemos realizado
                diversos cursos nacionales e internacionales con certificación en primeros auxilios, seguridad y
                rescate, tanto en aguas blancas como en lugares agrestes. Asimismo, contamos con vasta
                experiencia en manejo de grupos.</p>
        <p>La empresa cuenta con 30 kayaks dobles con sus respectivos chalecos salvavidas y sus remos -todos
                    de muy buena calidad y homologados-, como así también con todo el equipo necesario para
                    realizar Rapel (cuerdas, arneses, mosquetones, etc.). </p>
        <p>Contamos con la habilitación correspondiente emitida por el Ente Autárquico Tucumán Turismo
                        para realizar excursiones, y también con todos los seguros e inscripciones necesarias.</p>
        <p>El Bar la Isla es nuestro socio estratégico, el cual cuenta con la mejor ubicación de El Cadillal, con
                            una vista panorámica única del lugar y las mejores comidas y atención.</p>
        </div>
    </div>
    <div class="imagen-quienes-somos">
        <div class="contenedor-img-quienes-somos">
        <img src="../../../img/general/(22).jpg" alt="">
        </div>
    </div>

</section>

    
    <%- include ("../partials/footer.ejs") %>
</body>
</html>