
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../css/styless.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link  rel="icon"   href="../../../img/general/logotkcrojo.jpg" type="image/jpg" />
    <title>Formulario de Registro</title>
</head>
<body>
  
    <%- include ("../partials/header-superior.ejs") %>

<h1>Vista de DETALLE DE USUARIO </h1>
    
    <%- include ("../partials/footer.ejs") %>
</body>
</html>