
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../css/styless.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link  rel="icon"   href="../../../img/general/logotkcrojo.jpg" type="image/jpg" />
    <title>Login</title>
</head>
<body>

    <%- include ("../partials/header-superior.ejs")  %>


    <section class="section-formulario-registro">
        <div class="contenedor-formulario-registro">
            <div class="titulo-formulario-registro">
                <h2>Formulario de Login</h2>
            </div>
            <div class="frase-superior-formulario-registro">
                <p>¿Aún no estas registrado?  </p>
                <a href=""> Ingresá aquí</a>
            </div>
            <div class="formulario-login">
                <form action="/users/login" method="POST">
                    <div>
                        <label for="">E-mail:</label>
                        <input type="email" name="email" id="" placeholder="">
                        <% if (locals.errors && errors.email) { %>
                            <p class="formulario-register-error"><%= errors.email.msg %></p>
                        <% } %>
                    </div>
                    <div>
                        <label for="">Contraseña:</label>
                        <input type="password" name="contraseña" id="" placeholder=" ">
                        <% if (locals.errors && errors.contraseña) { %>
                            <p class="formulario-register-error"><%= errors.contraseña.msg %></p>
                        <% } %>
                    </div>
                    <div class="boton-create">
                        <input type="submit" name="Ingresar" id="" placeholder="Ingresar">
                    </div>
                </form>
    
            </div>
    
        </div>
    
    </section>
    
    

    <%- include ("../partials/footer.ejs") %>
    

    
</body>
</html>
  
   
